<div class="centered1">
  <iframe id="pdf" class="cover" title="Viewer" src="about:blank"
          style="border: currentColor; border-image: none; width: 100%; height: 100%; position: absolute;"></iframe>
  <div class="modal-header ">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="message!=null" class="modal-body">
    {{ message }}
  </div>
  <div class="modal-footer">

    <button *ngIf="btnCancelText!=null" type="button" class="btn btn-danger"
            (click)="decline()">{{ btnCancelText }}
    </button>
    <button type="button" class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
  </div>
</div>
