.pageHeight {
  height: calc(85vh) !important;
  overflow-y: scroll;
}

.flex-container {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  padding: 0px !important;
  font-size: 13px;
}

.flex-container {
  margin-top: 15px;
}

//////////////////
.panel-actions {
  margin-top: -20px;
  margin-bottom: 0;
  text-align: right;
}

.panel-actions a {
  color: #333;
}

.panel-fullscreen {
  display: block;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

#DocFrame {
  width: 100%;
  height: 100%;
}

.buttons {
  margin-top: 6px;
}

.btn {
  padding: 3px 5px;
}

.btn-danger {
  margin-left: 3px;
}

.my-drop-zone {
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

html,
body {
  height: 100%;
}

.my-drop-zone {
  text-align: center;
}

.col-md-9 {
  font-size: 13px;
  margin-left: 43px;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 100%;
}

.display-3 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.2;
}

button,
input,
optgroup,
select,
textarea {
  text-align: center;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: 13px;
}

.btn-file input[type="file"] {
  position: absolute !important;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.btn-file {
  position: relative !important;
  // overflow: hidden !important;
}

.btn-primary :hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

#divi {
  width: 800px;
}

.table-bordered {
  border: 0px solid #2f4f2f !important;
}

.table .thead-dark th {
  color: #fff !important;
  background-color: #004831 !important;
  border-color: #004831 !important;
  font-size: 0.75rem;
  text-align: center;
}

.table-bordered {
  border: 1px solid #2f4f2f !important;
}

td {
  font-size: 0.75rem;
  width: 50%;
}

.table-responsive {
  display: table;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.btn-1 {
  margin-left: -83px;
}

.form-control {
  font-size: 13px;
}

.font-weight-bold {
  font-size: 13px;
  font-weight: 700 !important;
}

.modal-content {
  width: 150%;
}

.docType {
  text-align: center;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: 0px;
}

.footerButton {
  width: 100px;
  height: 30px;
}

.my-drop-zone {
  height: 200px;
  width: 200px;
}

.custom-select {
  height: 30px;
  margin-top: 0px;
}

.doc {
  text-align: center;
  margin-top: 10rem;
  margin-left: 17rem;
  size: 50px;
}

.nodoc {
  margin-top: 1.5rem;
  margin-left: 1rem;
  background: #d6d6d6;
  size: 50px;
  text-align: center;
  width: 95%;
  font-weight: bold;
}

b,
strong {
  font-size: 13px !important;
}

.wrapText {
  white-space: nowrap;
  width: 234px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapTextDropDown {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

option {
  max-width: 2px !important;
}

.footerBtn {
  margin-top: -9px !important;
  margin-bottom: -9px !important;
}

.modal-header {
  background-color: white !important;
  padding: 0.3rem !important;
  border-bottom: 2px solid #004831 !important;
}

.footerbtn {
  float: right;
  background-color: #004831 !important;
  border: none !important;
  color: white !important;
  text-align: center !important;
  border-radius: 0px;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
